:root{
  --animation-duration: 225ms
  --animation-easing: cubic-bezier(.4,0,.2,1)
  --checkmark-color: #00b351
  --accent-color: #3a82f7
  
  --missive-font-size: 14px
  --missive-border-radius: 6px
  
  --missive-text-color-a: #dededd
  --missive-text-color-b: #c4c4c3
  --missive-text-color-c: #a0a1a0
  --missive-text-color-d: #868685
  --missive-text-color-e: #595a59
  
  --missive-blue-color: #3a82f7
  --missive-orange-color: #ff8400
  --missive-green-color: #00b351
  --missive-red-color: #f23131
  --missive-yellow-color: #fdd157
  --missive-light-blue-color: #3c444c
  --missive-light-orange-color: #443424
  
  --missive-border-color: #555453
  --missive-light-border-color: #454443
  
  --missive-conversation-list-border-color: #000
  --missive-conversation-list-background-color: #232221
  --missive-conversations-separator-opacity: .2
  
  --missive-background-color: #2d2e2d
  --missive-light-active-color: #333332
  --missive-token-background-color: #232221
  --missive-section-shadow-width: 1px
  --missive-section-shadow-color: rgba(0,0,0,.45)
}

#root {
  width: 100%;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 90%;
}

@media (min-width: 768px) {
  .modal {
    width: 50%;
  }
}