:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: normal;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --animation-duration: 225ms
--animation-easing: cubic-bezier(.4,0,.2,1)
--checkmark-color: #00b351
--accent-color: #3a82f7

--missive-font-size: 14px
--missive-border-radius: 6px

--missive-text-color-a: #dededd
--missive-text-color-b: #c4c4c3
--missive-text-color-c: #a0a1a0
--missive-text-color-d: #868685
--missive-text-color-e: #595a59

--missive-blue-color: #3a82f7
--missive-orange-color: #ff8400
--missive-green-color: #00b351
--missive-red-color: #f23131
--missive-yellow-color: #fdd157
--missive-light-blue-color: #3c444c
--missive-light-orange-color: #443424

--missive-border-color: #555453
--missive-light-border-color: #454443

--missive-conversation-list-border-color: #000
--missive-conversation-list-background-color: #232221
--missive-conversations-separator-opacity: .2

--missive-background-color: #2d2e2d
--missive-light-active-color: #333332
--missive-token-background-color: #232221
--missive-section-shadow-width: 1px
--missive-section-shadow-color: rgba(0,0,0,.45)
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
